.logoimg {
    width: 68px;
    height: 66px;
}

.btn {
    font-size: 19px !important;
}

.signin {
    font-weight: bold !important;
    border: none !important;
}

.signin:hover {
    color: #e99f27 !important;
}

.signup:hover {
    background-color: #540640 !important;
    color: white !important;
}

.signup {
    background-color: #540640 !important;
    color: white !important;
}



.sign-icons {
    display: none;
}

.fa-bars {
    font-size: 25px;
    margin: 0 5px 5px 0;
    color: #540640;
}

.fa-bars:hover {
    color: #e99f27;
}

.sidebox {
    display: flex;
    margin-right: 15px;
}

.sidebox li {
    list-style: none;
    font-size: 25px;
    margin: 0px 7px;
    padding: 3px;
    color: #540640;
    transition-property: color;
    transition-duration: 0.3s;
}

.sidebox li:hover,
.sidebox .links:hover {
    color: #e99f27;
}

.sidebox li:hover .nicons,
.sidebox .links:hover i {
    color: #e99f27;
    transform: translateX(1px);
}

.sidebox .links {
    color: #540640;
    text-decoration: none;
}

.sidebox i {
    color: #540640;
    margin-right: 5px;
    transition-duration: 0.3s;
    transition-property: transform;
}

.logout {
    cursor: pointer;
}


/* Responsive design for mobile */
@media (max-width: 991px) {
    .navbar-collapse {
        background-color: #f8f9fa;
        z-index: 1;
        

    }

    .logoimg {
        width: 57px;
        height: 57px;
    }

    .web-app-name {
        margin-top: 15px !important;
    }

    .signin {

        color: #540640 !important;
        
    }
    .signin-text{
        margin-left: 4px !important;
    }
    .signup {
        background: none !important;
        color: #540640 !important;
        border: none !important;
        font-weight: bold !important;
        margin-right: -100px;
    }

    .sign-icons {
        display: inline;
        margin-right: 3px;
    }
    .web-app-name{
        text-shadow: 0.3px 0.3px 0.3px #e99f27;
    }

}