body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swal2-shown {
  overflow: unset !important;
  padding-right: 0px !important;
}
select.form-control {
  -webkit-appearance: menulist;
}
